
.darkLogo {
  content: url(../../Images/LogoTidanDark.svg);
}

.lightLogo {
  content: url(../../Images/LogoTidanLight.svg);
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  background-color: yellow;
}

body::-webkit-scrollbar-thumb {
  background-color: orange;
  border-radius: 20px;
}
body {
  scroll-behavior: smooth;
  scroll-margin: 200px;
}

.Active {
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 4px;
}

.notActive {
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 4px;
}

.avatar1 {
  background-image: url(../../Images/avtars.png);
  background-position: 1150px 83px;
  background-size: 100px;
}

@media screen and (max-width: 1040px) {
  .avatar1 {
    background-image: url(../../Images/avtars.png);
    background-position: 1156px 92px;
    background-size: 110px;
  }
}

.dataDiv ul{
  box-shadow: 1px 1px 5px rgba(177, 25, 25, 0.493);
}

.dataDiv li {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
  text-align: left;
  padding-left: 10px;
}